body {
  font-family: "jomhuria";
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black; /* Fondo negro */
  color: white; /* Texto blanco */
}

.container {
  max-width: 30%;
  margin: 10% auto;
  padding: 3%;
  background-color: #c7c7c7; /* Cuadro blanco */
  border-radius: 8%;
  position: relative; /* Posicionamiento relativo para usar posicionamiento absoluto en los botones */
}

h1 {
  text-align: center;
  color: black; /* Texto negro */
  font-weight: bold; /* Letras más gruesas */
  font-size: 300%;
  margin-bottom: 5px; /* Separación adicional debajo del título */
}

form {
  margin-top: 20px; /* Separación adicional arriba del formulario */
}

label {
  display: block;
  margin-bottom: 10px; /* Separación adicional entre etiqueta y input */
}

input[type="text"] {
  width: 100%;
  padding: 2%;
  font-size: 120%;
  border: 1px solid black; /* Borde negro */
  border-radius: 20px; /* Bordes circulares */
  box-sizing: border-box;
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
  color: black;
  background-color: #f2f2f2; /* Color de fondo gris claro */
  font-family: "jomhuria";
  font-weight: bold; /* Letras más gruesas */
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinea el botón de volver a la izquierda */
  margin-top: 20px; /* Separación adicional arriba de los botones */
}

.btnGuardar {
  background-color: #096d1f;
  color: white;
  padding: 2% 4%; /* Ajusta el tamaño del padding para hacer los botones más largos */
  border: none;
  border-radius: 20px; /* Bordes circulares */
  cursor: pointer;
  font-family: "jomhuria";
  font-size: 150%; /* Aumenta el tamaño de la fuente */
  font-weight: bold; /* Letras más gruesas */
  position: absolute;
 
  right: 10px;
}

.btnVolver {
  background-color: #e60b0b;
}

.btnGuardar:hover, .btnVolver:hover {
  opacity: 0.8;
}

.image-upload {
  text-align: center;
  margin-bottom: 5%;
}

.image-upload h3 {
  margin-top: 5%;
  color: black; /* Texto negro */
  font-weight: bold; /* Letras más gruesas */
  font-size: 150%;
}

.image-upload .icon {
  font-size: 300%;
  cursor: pointer;
}

#imagenSeleccionada {
  max-width: 100%;
  margin-top: 5%;
}
