@font-face {
    font-family: "Candal";
    src: url("/Fuentes/Candal/Candal-Regular.ttf");
}

body {
    margin: 0;
    font-family: 'Candal';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.header {
    width: 100%;
    background-color: #1a3e68;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header .logo {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .logo img.logo-img {
    width: 80px;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 50px;
}

.header .logout a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 120%;
    padding-right: 20px;
    font-family: 'Rubik';
    color: white;
}

.header .logout a:hover {
    color: var(--hover-color);
    font-family: 'Rubik';
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.sidebar {
    width: 250px;
    background-color: #1a3e68;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    justify-content: flex-start;
    overflow-y: hidden;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    color: white;
    font-family: 'Candal';
}

.profile-pic {
    position: relative;
    width: 160px;
    height: 160px;
    background-color: transparent;
    border-radius: 50%;
    margin: 0 auto 10px;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid #fff;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-pic i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #000000;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    display: none;
}

.profile-pic:hover i {
    opacity: 1;
}

.profile-pic input[type="file"] {
    display: none;
}

.profile-pic:hover i {
    z-index: 2;
    color: white;
}

.profile span {
    display: block;
    font-size: 22px;
    font-family: 'Candal';
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: white;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
}

nav ul li a i {
    margin-right: 8px;
}

nav ul li a.active {
    font-weight: bold;
}

.central-container {
    text-align: center;
    background-color: #487BFF;
    padding: 8px;
    border-radius: 40px;
    width: 150%;
}

.central-image {
    width: 100%;
    max-width: 570px;
    height: auto;
}

.central-title {
    color: white;
    font-size: 2rem;
    margin-top: 20px;
}

.contenedor-azul {
    background-color: #ffffff;
    height: 105%;
    width: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-titulos {
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.separador {
    height: 1%;
    width: 100%;
    background-color: white;
}

.contenedor-blanco {
    height: auto; /* Ajustar la altura automáticamente según el contenido */
    width: 30%;
    background-color: white;
    margin-top: 2%;
    border-radius: 50px;
    padding: 2%; /* Añadir padding para evitar que el contenido toque los bordes */
}

.opcion {
    margin-left: 20%;
}

.datos {
    margin-left: 5%;
}

.titulos-datos {
    margin-top: 6%;
}

.main-content {
    flex-grow: 1;
    background-color: var(--background-color);
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.form-container {
    background-color: var(--white);
    padding: 1.8%;
    border-radius: 40px;
    box-shadow: 0 0 10px var(--shadow-color);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    margin: auto; /* Centrar el formulario dentro del contenedor blanco */
}

.form-container h2 {
    margin-top: 0;
    text-align: center;
    font-size: 200%; /* Aumentar el tamaño de la fuente */
}

.password-instructions {
    text-align: center;
    font-size: 120%;
    color: #000000;
    margin: 0% 0 5%;
    font-weight: bold;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container form label {
    margin: 10px 0 5px;
    font-size: 30px;
    align-self: flex-start;
}

.form-container form input[type="password"] {
    padding: 3%;
    margin-bottom: 5%;
    border: 1px solid #ccc;
    border-radius: 20px; /* Hacer los bordes circulares */
    outline: none;
    transition: border-color 0.3s ease-in-out;
    width: calc(100% - 32px); /* Ajustar el ancho */
    background-color: rgb(83, 82, 82);
    color: white;
}

.form-container form input[type="password"]:focus {
    border-color: var(--primary-color);
}

.form-container form button {
    padding: 10px;
    background-color: #2dcf42;
    border: none;
    border-radius: 20px; /* Hacer los bordes circulares */
    cursor: pointer;
    width: 150px;
    margin: 10px auto;
    font-family: "Candal";
    font-weight: bold;
    font-size: 20px; /* Ajustar el tamaño de la letra del botón */
}

.form-container form button:hover {
    background-color: #2dcf42;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        padding: 10px 0;
    }

    .header {
        padding: 10px 20px;
    }

    .main-content {
        padding: 20px;
    }

    .profile {
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .header .logo img.logo-img {
        width: 40px;
        height: 40px;
    }

    .header .logo {
        font-size: 20px;
    }

    .header .logout a {
        font-size: 14px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .form-container {
        padding: 30px;
    }

    .form-container form input[type="password"] {
        padding: 8px;
    }

    .form-container form button {
        padding: 10px;
        width: 120px;
    }
}
