/* Variables CSS para colores */
:root {
    --primary-color: #1a3e68;
    --background-color: #f0f0f0;
    --white: #ffffff;
    --gray: #555;
    --border-radius: 25px;
    --shadow-color: rgba(116, 111, 111, 0.5);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Rubik';
    src: url('/Fuentes/Rubik-VariableFont_wght.ttf') 
  }
/* Estilos para el cuerpo y la cabecera */
body {
    margin: 0;
    font-family: 'Rubik';
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background-color);
    overflow: hidden; /* Hace que la página sea estática */
}

.header {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-sizing: border-box;
}

.header .logo {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .logo img.logo-img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.header .logout a {
    color: var(--white);
    text-decoration: none;
    
}

.header .logout a:hover {
    color: var(--hover-color);
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.sidebar {
    width: 250px;
    background-color: var(--primary-color);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    justify-content: flex-start;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px; /* Ajusta este valor para mover el perfil y la línea más abajo */
}

.profile-pic {
    position: relative;
    width: 160px;
    height: 160px;
    background-color: transparent; /* Cambiado a transparente */
    border-radius: 50%;
    margin: 0 auto 10px;
    overflow: hidden;
    cursor: pointer; /* Añadido cursor pointer para indicar que se puede hacer clic */
    border: 3px solid #fff; /* Añadido un borde blanco para dar contraste */
}



.profile-pic i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #000000;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out; /* Transición suave para la opacidad */
    z-index: 1; /* Añadido z-index para estar por encima de la imagen */
    display: none; /* Inicialmente oculto */
}
.profile-pic:hover i {
    opacity: 1;
}
.profile-pic input[type="file"] {
    display: none;
}

.profile-pic:hover i {
    display: block; /* Mostrar el ícono al pasar el cursor por encima */
    z-index: 2; /* Asegurar que el ícono esté por encima de la imagen */
    color: var(--white); /* Color blanco para el ícono al pasar el cursor */
}

.profile span {
    display: block;
    font-size: 22px;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-top: 60px; /* Añade un margen superior para mover los botones hacia abajo */
}

nav ul li {
    margin: 40px 0; /* Aumenta el espacio entre los botones */
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
}

nav ul li a i {
    margin-right: 8px;
}

nav ul li a.active {
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--white); /* Mantén el color de texto blanco al pasar el cursor */
    text-decoration: none; /* Quita el subrayado al pasar el cursor */
    background-color: transparent; /* Quita el color de fondo al pasar el cursor */
}

.main-content {
    flex-grow: 1;
    background-color: var(--background-color);
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.form-container {
    background-color: var(--white);
    padding: 3%;
    border-radius: 40px;
    box-shadow: 0 0 10px var(--shadow-color);
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.form-container h2 {
    margin-top: 0;
    text-align: center;
}

.password-instructions {
    text-align: center;
    font-size: 20px;
    color: #000000;
    margin: 10% 0 10%;
    font-weight: bold;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container form label {
    margin: 10px 0 5px;
    font-size: 30px;
    align-self: flex-start;
}

.form-container form input[type="password"] {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    outline: none;  
    transition: border-color 0.3s ease-in-out;
    width: calc(110% - 22px);
    background-color: rgb(83, 82, 82);
    color: white;
}

.form-container form input[type="password"]:focus {
    border-color: var(--primary-color);
}

.form-container form button {
    padding: 10px;
    background-color: #2dcf42;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    width: 150px;
    margin: 10px auto;
    font-family: "jomhuria";
    font-weight: bold;
    font-size: 30px; /* Aumenta el tamaño de la letra del botón */
}

.form-container form button:hover {
    background-color: var(--hover-color);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        padding: 10px 0;
    }

    .header {
        padding: 10px 20px;
    }

    .main-content {
        padding: 20px;
    }

    .profile {
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .header .logo img.logo-img {
        width: 40px;
        height: 40px;
    }

    .header .logo {
        font-size: 20px;
    }

    .header .logout a {
        font-size: 14px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .form-container {
        padding: 30px;
    }

    .form-container form input[type="password"] {
        padding: 8px;
    }

    .form-container form button {
        padding: 10px;
        width: 120px;
    }
}
