/* Reset de estilos y fuente personalizada */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Candal";
    src: url("/Fuentes/Candal/Candal-Regular.ttf");
}

/* Estilos para el cuerpo y la cabecera */
body {
    margin: 0;
    font-family: 'Candal';
    font-weight: bold;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo se extienda al menos al 100% de la altura de la ventana de visualización */
    background-color: var(--background-color);
    overflow-x: hidden; /* Evita el desplazamiento horizontal en dispositivos pequeños */
}

.header {
    width: 100%;
    background-color: #1a3e68;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}


.header .logo {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .logo img.logo-img {
    width: 130px;
    height: 80px;
    margin-top: 1px; /* Ajusta este valor según lo necesites */
    margin-bottom: 5px;
    padding-left: 20px;
}

.header .logout a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 120%;
    padding-right: 20px;
    font-family: 'Candal';
    color: white;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.sidebar {
    width: 250px;
    background-color: #1a3e68;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    justify-content: flex-start;
    overflow-y: hidden;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    color: white;
    font-family: 'Candal';
}

.profile-pic {
    position: relative;
    width: 160px;
    height: 160px;
    background-color: transparent; /* Cambiado a transparente */
    border-radius: 50%;
    margin: 0 auto 10px;
    overflow: hidden;
    cursor: pointer; /* Añadido cursor pointer para indicar que se puede hacer clic */
    border: 3px solid #fff; /* Añadido un borde blanco para dar contraste */
}



.profile-pic i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #000000;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out; /* Transición suave para la opacidad */
    z-index: 1; /* Añadido z-index para estar por encima de la imagen */
    display: none; /* Inicialmente oculto */
}

.profile-pic:hover i {
    opacity: 1;
}

.profile-pic input[type="file"] {
    display: none;
}

.profile-pic:hover i {
    display: block; /* Mostrar el ícono al pasar el cursor por encima */
    z-index: 2; /* Asegurar que el ícono esté por encima de la imagen */
    color: var(--white); /* Color blanco para el ícono al pasar el cursor */
}

.profile span {
    display: block;
    font-size: 22px;
    font-family: 'Candal';
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: white;
}

nav ul li {
    margin: 20px 0; /* Ajusted this value to reduce the space between buttons */
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
}

nav ul li a i {
    margin-right: 8px;
}

nav ul li a.active {
    font-weight: bold;
}

.main-content {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 40px;
    box-shadow: 0 0 10px #746f6f;
    width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
    max-width: 400px; /* Ajusta el ancho máximo */
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.form-container h2 {
    margin-top: 0;
    font-size: 180%; /* Aumentamos el tamaño de la letra */
    text-align: center; /* Asegura que el texto esté centrado */
    white-space: nowrap; /* Evita el salto de línea */
}

.form-container form {
    display: flex;
    flex-direction: column;
    font-size: 15px; /* Reduce el tamaño de la letra del formulario */
}

.form-container form label {
    margin: 10px 0; /* Ajusta el margen superior e inferior de las etiquetas */
    font-weight: bold; /* Añade negrita a las etiquetas */
}

.form-container form input[type="password"] {
    padding: 10px; /* Aumenta el espacio interno de los campos de entrada */
    margin-bottom: 15px; /* Ajusta el margen inferior de los campos de entrada */
    border: 1px solid #ccc; /* Añade un borde a los campos de entrada */
    border-radius: 25px; /* Añade esquinas redondeadas a los campos de entrada */
    outline: none;
    transition: border-color 0.3s ease-in-out;
    width: calc(110% - 22px);
    background-color: rgb(83, 82, 82);
    color: white;
}

.form-container form input[type="password"]:focus {
    border-color: #1a3e68;
}

.form-container form button {
    width: 70%;
    padding: 10px; /* Aumenta el espacio interno del botón */
    margin: 9px auto 0; /* Centra el botón y ajusta el margen superior */
    background-color: #1B9607; /* Cambia el color de fondo del botón */
    color: white; /* Cambia el color del texto del botón a blanco */
    border: none; /* Elimina el borde del botón */
    border-radius: 50px; /* Añade esquinas redondeadas al botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease-in-out; /* Agrega una transición suave para el color de fondo del botón */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        padding: 10px 0;
    }

    .header {
        padding: 10px 20px;
    }

    .main-content {
        padding: 20px;
    }

    .profile {
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .header .logo img.logo-img {
        width: 40px;
        height: 40px;
    }

    .header .logo {
        font-size: 20px;
    }

    .header .logout a {
        font-size: 14px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .form-container {
        padding: 30px;
        text-align: center; /* Centra el contenido del formulario */
        width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
        max-width: 100%; /* Ajusta el ancho máximo al 100% */
        margin: 0 auto; /* Centra horizontalmente el contenedor */
    }

    .form-container h2 {
        font-size: 180%; /* Ajusta el tamaño del título */
    }

    .form-container form input[type="password"] {
        padding: 8px;
    }

    .form-container form button {
        padding: 10px;
        width: 70%;
        max-width: 200px; /* Ajusta el ancho máximo del botón */
        margin: 20px auto 0; /* Centra el botón y ajusta el margen superior */
    }
}
