/* Estilo para el cuerpo de la página */
body {
  background-color: #f0f0f0;
  background-image: url('/HtmlYCss/img/library.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@font-face {
  font-family: "jomhuria";
  src: url("../Jomhuria-Regural.ttf");
}

/* Contenedor principal */
.container {
  max-width: 400px; /* Reduzco la anchura máxima */
  margin: 150px auto; /* Reduzco el margen vertical */
  padding: 40px; /* Reduzco el padding interno */
  background-color: rgba(0, 0, 0, 0.637);
  border-radius: 20px; /* Reduzco el radio del borde */
  color: #f0f0f0;
}


/* Títulos */
h1#titulo {
  font-family: "jomhuria";
  font-weight: bold;
  font-size: 50px; /* Reduzco el tamaño del título */
}

/* Campos de entrada de texto */
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
select.form-control {
  width: 100%;
  padding: 12px; /* Reduzco el padding */
  margin-bottom: 8px; /* Reduzco el margen inferior */
  border: 0px solid #000000;
  border-radius: 12px; /* Reduzco el radio del borde */
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.137);
  color: #f3f1f1;
}

/* Cambiar el color del texto del select */
select.form-control::placeholder {
  color: #ffffff; /* Color del texto en el select */
}

/* Anular el color del texto de las opciones */
select.form-control option {
  color: #000000; /* Color del texto en las opciones */
}

/* Botón de Volver */
.button-volver {
  width: calc(50% - 10px); /* Calcula el ancho del botón teniendo en cuenta el espacio entre los botones */
  width: 30%;
  padding: 12px 18px; /* Aumenta el relleno para que el botón sea más grande */
  background-color: #d63031; /* Color rojo para el botón "Volver" */
  color: #ffffff;
  border: none;
  border-radius: 20px; /* Bordes más redondeados */
  cursor: pointer;
  transition: background-color 0.3s;
  display: block; /* Para centrar */
  margin: 30px auto 10px; /* Mueve el botón más abajo y lo centra */
  font-family: "jomhuria";
  font-size: 20px; /* Aumenta el tamaño de fuente */
  font-weight: bold; /* Texto más grueso */
}

/* Botón de Enviar */
.button-enviar {
  width: calc(50% - 10px); /* Calcula el ancho del botón teniendo en cuenta el espacio entre los botones */
  width: 30%;
  padding: 12px 10px; /* Aumenta el relleno para que el botón sea más grande */
  background-color: #00a86b; /* Color verde para el botón "Enviar" */
  color: #ffffff;
  border: none;
  border-radius: 20px; /* Bordes más redondeados */
  cursor: pointer;
  transition: background-color 0.3s;
  display: block; /* Para centrar */
  margin: 30px auto 10px; /* Mueve el botón más abajo y lo centra */
  font-family: "jomhuria";
  font-size: 20px; /* Aumenta el tamaño de fuente */
  font-weight: bold; /* Texto más grueso */
}

.button-container {
  display: flex; /* Establece el contenedor como un flexbox */
  justify-content: space-between; /* Distribuye los elementos de manera uniforme en el contenedor */
  margin-top: 20px; /* Ajusta el margen superior para separar del resto de contenido */
}