@font-face {
  font-family: "Candal";
  src: url("/Fuentes/Candal/Candal-Regular.ttf");
}

body {
  margin: 0;
  font-family: "Candal";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FFFFFF;
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1000px;
  background-color: #202C4A;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.form-container {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  border-radius: 15px 0 0 15px;
  position: relative;
}

.form-container h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.column {
  flex: 1;
  min-width: 250px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group select,
.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 0.875rem;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-sizing: border-box;
}

.input-group input[type="number"] {
  width: 100%;
}

.error-message {
  color: red;
  font-size: 0.75rem;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.volver-btn,
.crear-cuenta-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.875rem;
  font-family: 'Candal';
  margin-left: 10%;
}

.volver-btn {
  background-color: red;
  color: white;
  margin-left: 18%;
  font-family: 'Candal';
}

.crear-cuenta-btn {
  background-color: #28a745;
  color: white;
}

.image-container {
  background-color: black;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  padding: 20px;
}

.image-container img {
  width: 80%;
  max-width: 300px;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

  .form-container {
    border-radius: 0 0 15px 15px;
  }
}

@media screen and (max-width: 480px) {
  .form-container h2 {
    font-size: 1.5rem;
  }

  .input-group input, 
  .input-group select {
    font-size: 0.75rem;
    padding: 8px;
  }

  .volver-btn, 
  .crear-cuenta-btn {
    font-size: 0.75rem;
    padding: 8px 15px;
  }

  .button-container {
    flex-direction: column;
    gap: 10px;
  }

  .image-container img {
    width: 70%;
  }
}

.footer {
  background-color: #1a3e68;
  color: white;
  text-align: center;
  width: 100%;
  padding: 15px 0;
  flex-shrink: 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}