@font-face {
  font-family: "Candal";
  src: url("/HtmlYCss/Fuentes/Candal/Candal-Regular.ttf");
}

body {
  margin: 0;
  font-family: "Candal";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FFFFFF;
  color: #032766;
}

.container {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1000px;
  background-color: #032766;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.form-container {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  border-radius: 15px 0 0 15px;
  position: relative;
}

.form-container h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.column {
  flex: 1;
  min-width: 250px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group select,
.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 0.875rem;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-sizing: border-box;
}

.input-group input[type="number"] {
  width: 100%;
}

.error-message {
  color: red;
  font-size: 0.75rem;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.volver-btn,
.crear-cuenta-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Candal';
  
  max-width: 300px;
}

.volver-btn {
  background-color: red;
  color: white;
}

.crear-cuenta-btn {
  background-color: #28a745;
  color: white;
}

.image-container {
  background-color: black;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  padding: 20px;
}

.image-container img {
  width: 80%;
  max-width: 300px;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

  .form-container {
    border-radius: 0 0 15px 15px;
  }
  
  .footer {
    margin-top: 40px;
  }

  .button-container {
    flex-wrap: wrap;
  }

  .volver-btn, .crear-cuenta-btn {
    width: 45%;
    font-size: 1rem;
  }

}

@media screen and (max-width: 480px) {
  .form-container h2 {
    font-size: 1.5rem;
  }

  .input-group input, 
  .input-group select {
    font-size: 0.75rem;
    padding: 8px;
  }

  .volver-btn, 
  .crear-cuenta-btn {
    font-size: 0.75rem;
    padding: 10px 15px;
    width: 100%; 
  }

  .button-container {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .image-container img {
    width: 70%;
  }
}

.footer {
  background-color:#032766;
  color: white;
  text-align: center;
  width: 100%;
  padding: 15px 0;
  flex-shrink: 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.header {
  width: 100%;
  background-color:#032766;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  top: 0;
  z-index: 1000;
}

.header .menu-icon {
  font-size: 30px;
  margin-right: 20px;
  color: white;
  cursor: pointer;
}

.header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.header .logout-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-right: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
}

header img {
  width: 100%;
  height: auto;
  max-width: 100px;
  object-fit: cover;
}
.menu-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  cursor: pointer;
  font-size: 40px;
  color: #ffffff;
  z-index: 1001;
}

.menu-toggle i {
  font-size: 40px;
  color: #ffffff;
}
.menu-icon {
  font-size: 30px;
  margin-right: 25px;
}
.sidebarj {
  width: 250px;
  background-color: #032766;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 120px 0;
  transition: transform 0.3s;
  z-index: 1000;
  transform: translateX(-100%);
}

.sidebarj.visible {
  transform: translateX(0);
}

.sidebarj nav ul li {
  padding: 16px 15px;
  margin-bottom: 12px;
  transition: background-color 0.3s;
}


.sidebarj nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebarj nav ul li a {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebarj nav ul li i {
  margin-right: 10px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 25%;
}

.logo{
  background-color: #032766;
}
/* Estilo del loader */
.loader {
  width: 80px;
  height: 50px;
  position: absolute;  /* Cambié position para que se posicione encima del formulario */
  top: 50%;  /* Centrado vertical */
  left: 50%;  /* Centrado horizontal */
  transform: translate(-50%, -50%);  /* Ajuste para un centrado perfecto */
  z-index: 9999;  /* Asegúrate de que el loader esté encima de otros elementos */
  display: none;  /* Por defecto, el loader está oculto */
}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: #ffffff;
  animation: text_713 3.5s ease both infinite;
  font-size: .8rem;
  letter-spacing: 1px;
}

.load {
  background-color: #21027e;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
      letter-spacing: 1px;
      transform: translateX(0px);
  }

  40% {
      letter-spacing: 2px;
      transform: translateX(26px);
  }

  80% {
      letter-spacing: 1px;
      transform: translateX(32px);
  }

  90% {
      letter-spacing: 2px;
      transform: translateX(0px);
  }

  100% {
      letter-spacing: 1px;
      transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
      width: 16px;
      transform: translateX(0px);
  }

  40% {
      width: 100%;
      transform: translateX(0px);
  }

  80% {
      width: 16px;
      transform: translateX(64px);
  }

  90% {
      width: 100%;
      transform: translateX(0px);
  }

  100% {
      width: 16px;
      transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
      transform: translateX(0px);
      width: 16px;
  }

  40% {
      transform: translateX(0%);
      width: 80%;
  }

  80% {
      width: 100%;
      transform: translateX(0px);
  }

  90% {
      width: 80%;
      transform: translateX(15px);
  }

  100% {
      transform: translateX(0px);
      width: 16px;
  }
}
