@font-face {
  font-family: "Candal";
  src: url("/Fuentes/Candal/Candal-Regular.ttf");
}

body {
  margin: 0;
  font-family: "Candal";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FFFFFF;
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1000px;
  background-color: #202C4A;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.form-container {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  border-radius: 15px 0 0 15px;
  position: relative;
}

.form-container h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.column {
  flex: 1;
  min-width: 250px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group select,
.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 0.875rem;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-sizing: border-box;
}

.input-group input[type="number"] {
  width: 100%;
}

.error-message {
  color: red;
  font-size: 0.75rem;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Centra los botones */
  gap: 20px; /* Espacio entre los botones */
}

.volver-btn,
.crear-cuenta-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Candal';
  
  max-width: 300px; /* Limita el ancho máximo de los botones */
}

.volver-btn {
  background-color: red;
  color: white;
}

.crear-cuenta-btn {
  background-color: #28a745;
  color: white;
}

.image-container {
  background-color: black;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  padding: 20px;
}

.image-container img {
  width: 80%;
  max-width: 300px;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

  .form-container {
    border-radius: 0 0 15px 15px;
  }
  
  .footer {
    margin-top: 40px;
  }

  .button-container {
    flex-wrap: wrap;
  }

  .volver-btn, .crear-cuenta-btn {
    width: 45%; /* Ajusta el ancho en pantallas medianas */
    font-size: 1rem;
  }

}

@media screen and (max-width: 480px) {
  .form-container h2 {
    font-size: 1.5rem;
  }

  .input-group input, 
  .input-group select {
    font-size: 0.75rem;
    padding: 8px;
  }

  .volver-btn, 
  .crear-cuenta-btn {
    font-size: 0.75rem;
    padding: 10px 15px;
    width: 100%; 
  }

  .button-container {
    flex-direction: column;
    gap: 10px;
    align-items: center; /* Centra los botones en la columna */
  }

  .image-container img {
    width: 70%;
  }
}

.footer {
  background-color: #202C4A;
  color: white;
  text-align: center;
  width: 100%;
  padding: 15px 0;
  flex-shrink: 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.header {
  width: 100%;
  background-color: #202C4A;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  position: relative; /* Asegúrate de que esté en el flujo normal del documento */
  top: 0; /* Posición fija en la parte superior */
  z-index: 1000; /* Para asegurarte de que esté sobre otros elementos */
}

.header .menu-icon {
  font-size: 30px;
  margin-right: 20px;
  color: white;
  cursor: pointer;
}

.header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.header .logout-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-right: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
}

header img {
  width: 100%;
  height: auto;
  max-width: 100px;
  object-fit: cover;
}
.menu-toggle {
  position: absolute;
  top: 20px; /* Mantén la distancia desde el borde superior */
  left: 20px; /* Cambia este valor si necesitas ajustar más */
  padding: 10px;
  cursor: pointer;
  font-size: 40px;
  color: #ffffff;
  z-index: 1001;
}

.menu-toggle i {
  font-size: 40px; /* Asegúrate de que el ícono sea grande */
  color: #ffffff; /* Color blanco */
}
.menu-icon {
  font-size: 30px;
  margin-right: 25px;
}
.sidebarj {
  width: 250px;
  background-color: #202C4A;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 120px 0;
  transition: transform 0.3s;
  z-index: 1000;
  transform: translateX(-100%);
}

.sidebarj.visible {
  transform: translateX(0);
}

.sidebarj nav ul li {
  padding: 16px 15px; /* Espaciado para los ítems */
  margin-bottom: 12px; /* Añadir espacio entre los ítems */
  transition: background-color 0.3s;
}


.sidebarj nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Efecto hover */
}

.sidebarj nav ul li a {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebarj nav ul li i {
  margin-right: 10px; /* Espaciado entre el ícono y el texto */
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 25%;
}
