/* Estilo para el cuerpo de la página */
body {
  background-color: #f0f0f0;
  background-image: url('/HtmlYCss/img/library.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
}

@font-face {
  font-family: "jomhuria";
  src: url("../Jomhuria-Regural.ttf");
}

/* Contenedor principal */
.container {
  max-width: 400px; /* Reduzco la anchura máxima */
  margin: 150px auto; /* Reduzco el margen vertical */
  padding: 40px; /* Reduzco el padding interno */
  background-color: rgba(0, 0, 0, 0.637);
  border-radius: 20px; /* Reduzco el radio del borde */
  color: #f0f0f0;
}


/* Títulos */
h1#titulo {
  font-family: "jomhuria";
  font-weight: bold;
  font-size: 30px; /* Reduzco el tamaño del título */
}

/* Campos de entrada de texto */
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
select.form-control {
  width: 100%;
  padding: 12px; /* Reduzco el padding */
  margin-bottom: 8px; /* Reduzco el margen inferior */
  border: 0px solid #000000;
  border-radius: 12px; /* Reduzco el radio del borde */
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.137);
  color: #f3f1f1;
}

/* Cambiar el color del texto del select */
select.form-control::placeholder {
  color: #ffffff; /* Color del texto en el select */
}

/* Anular el color del texto de las opciones */
select.form-control option {
  color: #000000; /* Color del texto en las opciones */
}

/* Botón de envío */
button[type="submit"] {
  width: 30%;
  padding: 10px;
  background-color: #058a22;
  color: #d8d4d4;
  border: none;
  border-radius: 12px; /* Reduzco el radio del borde */
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "jomhuria";
  font-weight: bold;
  font-size: 16px; /* Reduzco el tamaño del texto */
  margin: 30px auto 0;
  display: block;
}
