body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('library.jpg'); /* Ruta a tu imagen de fondo */
  background-size: cover;
  background-position: center;
 
  
}

header{
 
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 100vh;

  
}
h1{
  text-align: center;
}

div{
  background-color: rgba(0, 0, 0, 0.438);
    padding: 38px;
    padding-bottom: 20px; 
    border-radius: 40px;
    color: #fff;
}

nav  {
  margin-bottom: 20px;
  

}
nav > p {
  text-align:  center;
}

.fff {
    width: 200px;
    padding: 15px;
    border: none;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    outline: none;
}

.recu-boton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
 border: none;
  margin-top: 10px; 
  border-radius: 100px ; 
  padding: 15px 35px; 
  background-color: rgba(240, 248, 255, 0.623);
   text-align: center;
}

.fa-user {
 
 
  font-size: 25px; 
  margin: 10px;
}
.custom-size {
  font-size: 25px; 
  margin: 10px;
}



.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}


span.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
