/* Reset de estilos y fuente personalizada */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Rubik';
    src: url('/Fuentes/Rubik-VariableFont_wght.ttf');
}

/* Estilos para el cuerpo y la cabecera */
body {
    margin: 0;
    font-family: 'Rubik';
    font-weight: bold;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo se extienda al menos al 100% de la altura de la ventana de visualización */
    background-color: var(--background-color);
    overflow-x: hidden; /* Evita el desplazamiento horizontal en dispositivos pequeños */
}

.header {
    width: 100%;
    background-color: #1a3e68;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header .logo {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .logo img.logo-img {
    width: 100% ;
    height: 80px;
    margin-top: 1px; /* Ajusta este valor según lo necesites */
    margin-bottom: 5px;
    padding-left: 20px;
}

.header .logout a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 120%;
    padding-right: 20px;
    font-family: 'Rubik';
    color: white;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.contenedorReserva{
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 120%;
}
.sidebar {
    width: 15%;
    background-color: #1a3e68;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    justify-content: flex-start;
    overflow-y: hidden;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    color: white;
    font-family: 'Rubik';
}

.profile-pic {
    position: relative;
    width: 160px;
    height: 160px;
    background-color: transparent; /* Cambiado a transparente */
    border-radius: 50%;
    margin: 0 auto 10px;
    overflow: hidden;
    cursor: pointer; /* Añadido cursor pointer para indicar que se puede hacer clic */
    border: 3px solid #fff; /* Añadido un borde blanco para dar contraste */
}

.profile-pic i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px; /* Tamaño del icono de cámara */
    color: #555; /* Color del icono de cámara */
    cursor: pointer;
}

.profile-pic input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.profile-pic:hover i {
    color: #000; /* Cambia el color del icono al pasar el cursor */
}

.profile span {
    display: block;
    font-size: 22px;
    font-family: 'Rubik';
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: white;
}

nav ul li {
    margin: 20px 0; /* Ajusted this value to reduce the space between buttons */
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
}

nav ul li a i {
    margin-right: 8px;
}

nav ul li a.active {
    font-weight: bold;
}

.main-content {
    flex-grow: 1;
    background-color: #3EBFFF;
    padding: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
}

.modify-info {
    width: 45%; /* Aumentar el ancho para ocupar más espacio */
    margin-right: 5%; /* Separación del siguiente contenedor */
    margin-left: 0; /* Eliminar el margen izquierdo para que esté más a la izquierda */
    text-align: center; /* Centrar el contenido */
}

.modify-info h2 {
    text-align: center; /* Centrar el título */
    margin: 5%; /* Aumentar el espacio entre párrafos */
}

.modify-info, .profile-info, .deactivate-account {
    background-color: #f5f5f5;
    border-radius: 20px; /* Redondear más los bordes */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espacio entre los contenedores */
}

.modify-info {
    width: 45%; /* Aumentar el ancho para ocupar más espacio */
    margin-right: 5%; /* Separación del siguiente contenedor */
    margin-left: 0; /* Eliminar el margen izquierdo para que esté más a la izquierda */
}

.profile-info {
    width: 45%; /* Ocupa menos espacio a la derecha */
    text-align: center;
    margin-top: 1%; /* Espacio superior aumentado */
}

.profile-info i {
    font-size: 100px; /* Tamaño del icono de usuario */
    color: #888; /* Color del icono de usuario */
    margin-bottom: 10px; /* Espacio entre el icono y los detalles */
}

.profile-info .profile-camera-icon {
    font-size: 24px; /* Tamaño del icono de cámara */
    color: #555; /* Color del icono de cámara */
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.info-details {
    text-align: center;
    letter-spacing: 2px; /* Aumentar el espacio entre letras */
}

.info-details p {
    margin: 10px 0; /* Aumentar el espacio entre párrafos */
}

.deactivate-account {
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 700px; /* Máximo ancho para no ser tan largo */
    text-align: center;
}

.deactivate-account h2 {
    color: #ff0000; /* Color rojo para resaltar */
}

.deactivate-account p {
    margin: 10px 0;
}

.modify-info form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modify-info label {
    font-size: 18px;
    margin-bottom: 8px;
}

.modify-info input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Hacer los campos circulares */
    background-color: #717171;
}

.modify-info button[type="submit"] {
    width: 150px;
    padding: 10px;
    background-color: green; /* Cambiar el color de fondo a verde */
    color: white;
    border: none;
    border-radius: 30px; /* Hacer el botón circular */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modify-info button[type="submit"]:hover {
    background-color: darkgreen; /* Cambiar color de fondo al pasar el cursor */
}

.deactivate-account button {
    width: 150px;
    padding: 10px;
    background-color: #ff0000; /* Color rojo para el botón de desactivar */
    color: white;
    border: none;
    border-radius: 30px; /* Hacer el botón circular */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Espacio superior para separar del párrafo anterior */
}

.deactivate-account button:hover {
    background-color: #cc0000; /* Cambiar color de fondo al pasar el cursor */
}

.contenedorPrincipalReserva{
    display: flex;
    width: 50%;
    margin-top: 5%;
}

/*Modificaciones del formulario de las reservas*/
.form {
    width: 30%; /* Reduced width */
    height: 540px; /* Increased height */
    background-color: #202C4A;
    color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: -15%;
    display: flex;
}

.form label {
    width: 83%;
    margin-top: 10px;
    font-size: 140%;
}

#month-year{
    font-size: 200%;
}
.form input {
    width: calc(100% - 80px);
    padding: 15px;
    margin: 10px 0; /* Reduced margin */
    border: none;
    border-radius: 30px;
    text-align: center; /* Center the input text */
   
}

.form button {
    padding: 15px 30px; /* Smaller button */
    background-color: #3EBFFF;
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    margin-top: 25px; /* Adjust margin to ensure the button is slightly separated from the inputs */
    font-size: 1em;
    display: flex;
}

/*Modificar el input del select para el espacio*/
#nombre_espacio{
    width: 80%; /* Ajustar el ancho de los inputs */
    padding: 10px;
    border: none;
    border-radius: 50px; /* Bordes redondeados */
     
    font-weight: bold;
  }

.form{
    margin-left: 10%;
    width: 80%;
}

  /* Estilos modificados para el calendario */

.calendar {
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200%; /* Ajustar el ancho del calendario */
    max-width: 800px; /* Establecer un máximo para evitar que se extienda demasiado */
    margin: 0 auto; /* Centrar el calendario horizontalmente */

    
  }
  
  .month {
    background-color: #3EBFFF;
    color: white;
    text-align: center;
    padding: 20px 0; /* Ajustar el espacio alrededor del mes */
  }
  
  .weekdays {
    display: flex;
    justify-content: space-around;
    background-color: #ddd;
    padding: 10px 0; /* Ajustar el espacio alrededor de los días de la semana */
  }
  
  .weekdays div {
    text-align: center;
    width: calc(100% / 7);
    padding: 10px 0; /* Ajustar el espacio dentro de cada día de la semana */
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    padding: 20px 0; /* Ajustar el espacio alrededor de los días */
  }
  
  .days div {
    text-align: center;
    padding: 50px 0; /* Ajustar el espacio dentro de cada día */
  }
  
  .empty {
    visibility: hidden;
  }

  .calendar{
    margin-left: 10%;
  }
  
  /*diseño del calendario:*/

  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    padding: 20px 0;
}

.day {
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.day:hover {
    background-color: #3EBFFF;
    color: #fff;
}


.month {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonesFecha {
    background-color: #1a3e68;
    color: #ffffff;
    border: none;
    font-size: 1.5em;
    padding: 0.5em;
    cursor: pointer;
    margin: 0 100px; /* Ajusta el margen entre los botones */
    border-radius: 20px;
}


