@font-face {
    font-family: "Candal";
    src: url("/HtmlYCss/Fuentes/Candal/Candal-Regular.ttf");
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos para el cuerpo y la cabecera */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Asegura que el html y el body ocupen toda la altura de la ventana */
}

body {
    font-family: 'Candal';
    font-weight: bold;
    display: flex;
    flex-direction: column;
    background-color: #032766;
    overflow-x: hidden;
}

.header {
    width: 100%;
    background-color: #032766;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header .logo {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .logo img.logo-img {
    width: 100%;
    height: 80px;
    margin-top: 1px;
    margin-bottom: 5px;
    padding-left: 20px;
}

.header .logout a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 120%;
    padding-right: 20px;
    font-family: 'Candal';
    color: white;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.sidebar {
    width: 15%;
    background-color: #032766;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    justify-content: flex-start;
    overflow-y: hidden;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    color: white;
    font-family: 'Candal';
}

.profile-pic {
    position: relative;
    width: 160px;
    height: 160px;
    background-color: transparent;
    border-radius: 50%;
    margin: 0 auto 10px;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid #fff;
}

.profile-pic i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #555;
    cursor: pointer;
}

.profile-pic input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.profile-pic:hover i {
    color: #000;
}

.profile span {
    display: block;
    font-size: 22px;
    font-family: 'Candal';
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: white;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container-desactivar {
    background-color: #e7f3ff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 600px;
    text-align: center;
}

.profile-container-desactivar h2 {
    font-size: 28px;
    margin-bottom: 70px;
}

.profile-container-desactivar p {
    margin: 20px 0;
    font-size: 20px;
}

.btn-deactivate {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30%;
}

.btn-deactivate:hover {
    background-color: #c9302c;
}
