@font-face {
    font-family: 'Rubik';
    src: url('/Fuentes/Rubik-VariableFont_wght.ttf'); 
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif; /* Usa 'Rubik' como fuente principal y sans-serif como alternativa */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.header {
    width: 100%;
    background-color: #1a3e68;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header .logo {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .logo img.logo-img {
    width: 80px;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 50px;
}

.header .logout a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 120%;
    padding-right: 20px;
    font-family: 'Rubik';
    color: white;
}

.header .logout a:hover {
    color: var(--hover-color);
    font-family: 'Rubik';
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.sidebar {
    width: 250px;
    background-color: #1a3e68;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    justify-content: flex-start;
    overflow-y: hidden;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    color: white;
    font-family: 'Rubik';
}

.profile-pic {
    position: relative;
    width: 160px;
    height: 160px;
    background-color: transparent;
    border-radius: 50%;
    margin: 0 auto 10px;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid #fff;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-pic i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #000000;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    display: none;
}

.profile-pic:hover i {
    opacity: 1;
}

.profile-pic input[type="file"] {
    display: none;
}

.profile-pic:hover i {
    display: block;
    z-index: 2;
    color: var(--white);
}

.profile span {
    display: block;
    font-size: 22px;
    font-family: 'Rubik';
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: white;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
}

nav ul li a i {
    margin-right: 8px;
}

nav ul li a.active {
    font-weight: bold;
}

.main-content {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.form-container {
    background-color: white;
    padding: 45px;
    border-radius: 40px;
    box-shadow: 0 0 10px #746f6f;
    width: 100%;
    max-width: 300px;
    height: 76%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -30px;
    overflow-y: hidden;
    scrollbar-width: none;
}

.form-container h2 {
    margin-top: 0;
    text-align: center;
    font-size: 220%;
}

.form-container form {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.form-container form label {
    margin: 10px 0;
    font-weight: bold;
}




.form-container form button {
    width: 70%;
    padding: 15px;
    margin: 9px auto 0;
    background-color: #FF0000; /* Color rojo */
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 18px; /* Aumenta el tamaño de la letra del botón */
}


.delete-account {
    text-align: center;
}

.delete-account p {
    margin-bottom: 30px;
    font-size: 20px;
}
