* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #202C4A;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    padding-top: 80px;
}

.contenido {
    position: relative;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap; /* Flex-wrap para adaptarse a diferentes tamaños de pantalla */
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: white;
    z-index: 2;
}

.tituloBox {
    max-width: 500px;
    text-align: center;
}

.contenido .tituloBox h1 {
    color: #3EBFFF;
    font-size: 3.2em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contenido .tituloBox p {
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.contenido .boton {
    background-color: #3EBFFF;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    border: none;
}

.contenido .boton a {
    color: black;
    text-decoration: none; 
}

.contenido .imgBox {
    width: 50%;
    text-align: center;
}

.contenido .imgBox img {
    max-width: 100%;
}

section::before,
section::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: rgba(62, 191, 255, 0.3);
    animation: move 10s infinite alternate;
}

section::before {
    width: 120px;
    height: 120px;
    top: 10%;
    left: 10%;
    animation-duration: 12s;
}

section::after {
    width: 180px;
    height: 180px;
    top: 60%;
    right: 5%;
    animation-duration: 15s;
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(30px, 30px);
    }
}

.contenedor {
    background-color: #f8f9fa;
    position: relative;
    display: flex;
    flex-wrap: wrap; /* Flex-wrap para adaptarse a diferentes tamaños de pantalla */
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
    margin: 0 auto;
    z-index: 2;
}

.titulo {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.contenedor .titulo h1 {
    color: #3EBFFF;
    font-size: 3.2em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.contenedor .titulo p {
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.contenedor .imgcal {
    width: 47%;
    text-align: center;
}

.contenedor .imgcal img {
    max-width: 100%;
}

.app-container {
    display: flex;
    flex-wrap: wrap; /* Flex-wrap para adaptarse a diferentes tamaños de pantalla */
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
}

.app-title {
    flex: 1;
    padding: 20px;
}

.app-title h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #3EBFFF;
    text-align: center;
}

.app-title p {
    font-size: 1.1em;
    color: #fff;
    text-align: center;
}

.app-image {
    flex: 1;
    text-align: center;
}

.app-image img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.contenedor-info {
    display: flex;
    flex-wrap: wrap; /* Flex-wrap para adaptarse a diferentes tamaños de pantalla */
    justify-content: space-between;
    padding: 50px;
}

.inf {
    padding: 10px;
    color: #fff;
    flex: 1;
    margin-bottom: 20px;
}

.inf:last-child {
    margin-bottom: 0;
}

.inf2 {
    color: #fff;
}

/* Media Queries para hacer el diseño responsive */
@media (max-width: 768px) {
    .contenido {
        flex-direction: column;
        text-align: center;
    }

    .contenedor {
        flex-direction: column;
    }

    .app-container {
        flex-direction: column;
    }

    .contenedor-info {
        flex-direction: column;
        align-items: center;
    }

    .inf {
        margin-bottom: 20px;
        text-align: center;
    }

    .inf2 {
        text-align: center;
    }
    
}
