@font-face {
    font-family: 'Rubik';
    src: url('/Fuentes/Rubik-VariableFont_wght.ttf'); 
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif; /* Usa 'Rubik' como fuente principal y sans-serif como alternativa */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #1a3e68;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.botonVerde{
    padding: 15px 30px; /* Ajustar el padding del botón */
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 50px; /* Bordes redondeados */
    cursor: pointer;
    font-size: 100%; /* Ajustar el tamaño de la fuente */
    width: 30%; /* Hacer el botón más corto de ancho */
    margin-top: 5%;
    
    font-weight: bold;
}

.botonRojo{
    padding: 15px 30px; /* Ajustar el padding del botón */
    background-color: red;
    color: white;
    border: none;
    border-radius: 50px; /* Bordes redondeados */
    cursor: pointer;
    font-size: 100%; /* Ajustar el tamaño de la fuente */
    width: 30%; /* Hacer el botón más corto de ancho */
    margin-left: 65%;
    font-weight: bold;
}

.header .logo {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .logo img.logo-img {
    width: 100%;
    height: 75px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header .logout a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 120%;
    padding-right: 20px;
    font-family: 'Rubik';
    color: white;
}

.header .logout a:hover {
    color: var(--hover-color);
    font-family: 'Rubik';
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.sidebar {
    width: 250px;
    background-color: #1a3e68;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    justify-content: flex-start;
    overflow-y: hidden;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 85%;
    color: white;
    font-family: 'Rubik';
}

.profile-pic {
    position: relative;
    width: 160px;
    height: 160px;
    background-color: transparent;
    border-radius: 50%;
    margin: 0 auto 10px;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid #fff;
    margin-top: 10%
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-pic i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #000000;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    display: none;
}

.profile-pic:hover i {
    opacity: 1;
}

.profile-pic input[type="file"] {
    display: none;
}

.profile-pic:hover i {
    display: block;
    z-index: 2;
    color: var(--white);
}

.profile span {
    display: block;
    font-size: 22px;
    font-family: 'Rubik';
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: white;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
}

nav ul li a i {
    margin-right: 8px;
}

nav ul li a.active {
    font-weight: bold;
}

/* Adjustments for sidebar visibility */
.main-content.shifted {
    margin-left: 250px; /* Ajusta el margen para dejar espacio para el sidebar */
    transition: margin-left 0.3s; /* Transición suave para el cambio de margen */
}

/* Container for the table */
.table-container {
    padding: 30px;
    flex: 1;
    overflow-y: auto; /* Permite el desplazamiento si el contenido excede el contenedor */
    box-sizing: border-box; /* Incluye padding en el tamaño total del contenedor */
}


/* General table styles */
table {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho del contenedor */
    border-collapse: collapse; /* Elimina el espacio entre celdas */
    background-color: #f4f5f7; /* Color de fondo de la tabla */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total del elemento */
}

/* Table header styles */
th {
    background-color: #D9D9D9;
    color: rgb(0, 0, 0);
    padding: 15px; /* Ajusta el padding para una mejor visualización */
    text-align: left;
    border-bottom: 1px solid #ddd; /* Línea divisoria inferior */
}

/* Table cell styles */
td {
    padding: 15px; /* Ajusta el padding para una mejor visualización */
    border-bottom: 1px solid #ddd; /* Línea divisoria inferior */
}


td button {
    padding: 14px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif; /* Aplicando la fuente Rubik */
}

.edit {
    background-color: #1B9607;
    color: white;
    border-radius: 20px;
}

.edit:hover {
    background-color: #1B9607;
}

.delete {
    background-color: #AF0000;
    color: white;
    border-radius: 20px;
}

.delete:hover {
    background-color: #AF0000;
}

.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro con opacidad */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff; /* Fondo rosa claro */
    padding: 20px;
    border-radius: 20px;
    width: 800px; /* Ancho del modal aumentado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-content h2 {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.modal-content form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuir elementos con espacio entre ellos */
    align-items: flex-start; /* Alinear elementos al inicio */
}

.modal-content .form-group {
    flex: 0 0 48%; /* Cada grupo de formulario ocupará el 48% del ancho del contenedor */
    margin: 10px 0; /* Márgenes para los elementos del formulario */
}

.modal-content label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #d6d6d6; /* Color de fondo gris */
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Alinear el botón al final a la derecha */
}

.save {
    background-color: #28a745; /* Color de fondo verde */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
}

.save:hover {
    background-color: #218838;
}

.search-options {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #3EBFFF;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    align-items: center; /* Centrar el contenido horizontalmente */
}
/* Ajustes para la barra de búsqueda */
.search-bar-wrapper {
    display: flex;
    align-items: center;
    width: 70%;
    margin-bottom: 10px;
    justify-content: end; /* Centra la barra de búsqueda */
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 70%;
}

.search-bar input[type="text"] {
    width: 60%;
    padding: 18px;
    font-size: 16px;
    border: 2px solid rgb(3, 3, 3);
    border-radius: 5px;
}


.search-bar button {
    padding: 22px 20px;
    background-color: #000000; /* Color de fondo azul */
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}


.download-button {
    position: fixed; /* Posición fija para mantenerlo en la esquina */
    bottom: 20px; /* Distancia desde abajo */
    right: 20px; /* Distancia desde la derecha */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.download-button button {
    padding: 18px 26px; /* Aumento del relleno */
    background-color: #06a12a; /* Color de fondo verde */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave */
    font-size: 16px;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .table-container {
        padding: 20px; /* Reduce el padding en pantallas más pequeñas */
    }
    
    .main-content {
        margin-left: 0; /* Elimina el margen en pantallas más pequeñas */
        padding-left: 0;
    }

    .sidebar {
        width: 100%; /* Hace que el sidebar ocupe todo el ancho en pantallas pequeñas */
        transform: translateX(-100%); /* Oculta el sidebar en pantallas más pequeñas */
    }

    .sidebar.visible {
        transform: translateX(0); /* Muestra el sidebar en pantallas más pequeñas */
    }
}
/* Estilo para el contenedor del menú hamburguesa */
.menu-toggle {
    position: relative; /* Fijo en la pantalla */
    top: 8px;
    left: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 40px;
    color: #ffffff;
    z-index: 1001; /* Asegura que esté encima de otros elementos */
}

/* Estilo para el contenedor del menú desplegable */
.menu-container {
    position: fixed; /* Fijo en la pantalla */
    top: 20px;
    right: 20px;
    display: none; /* Ocultar el menú por defecto */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 160px;
    text-align: left;
}

.menu-container.active {
    display: block; /* Mostrar el menú cuando está activo */
}

.menu-container a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.menu-container a:hover {
    background-color: #f0f0f0;
}

/* Estilo para el contenedor izquierdo oculto */
.sidebar {
    width: 250px;
    background-color: #1a3e68;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    position: fixed; /* Fijo en la pantalla */
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    transition: transform 0.3s; /* Transición para animar el cambio de posición */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}

.sidebar.hidden {
    transform: translateX(-100%); /* Oculta el contenedor al desplazarlo fuera de la vista */
}

.sidebar.visible {
    transform: translateX(0); /* Muestra el contenedor */
}

/* Ajustes específicos para dispositivos móviles */
@media (max-width: 768px) {
    .main-content {
        margin-left: 0; /* Ajuste del margen en dispositivos móviles */
        padding-left: 0;
    }
}
.logo-container {
    margin-bottom: 15px; /* Espacio entre el logo y la barra de búsqueda */
}

.logo-img {
    max-width: 100%; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
}
