
@font-face {
    font-family: "Candal";
    src: url("/Fuentes/Candal/Candal-Regular.ttf");
  }

body {
    margin: 0;
    font-family: 'Candal', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202C4A;
    color: white;
    padding: 60px 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.text-content {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    flex: 1 1 300px;
}

.text-content h1 {
    margin: 0 0 30px 0;
    font-size: 3.9em;
}

.text-content p {
    margin: 30px 0;
    font-size: 1.8em;
    line-height: 1.6;
}

.text-content button {
    background-color: #EBECED;
    color: black;
    border: none;
    padding: 20px 45px;
    font-size: 1.6em;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 40px;
    font-family: 'Candal', sans-serif;
}

.text-content button:hover {
    background-color: #D6D6D6;
}

img {
    max-width: 38%;
    height: auto;
    object-fit: cover;
    margin-top: 20px;
    transform: translateX(-70px);
}

@media (max-width: 1200px) {
    .text-content h1 {
        font-size: 3em;
    }

    .text-content p {
        font-size: 1.8em;
    }

    .text-content button {
        font-size: 1em;
    }

    img {
        max-width: 40%;
        transform: translateX(-30px);
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .text-content {
        max-width: 100%;
        text-align: left;
    }

    img {
        max-width: 100%;
        transform: none;
        margin-top: 20px;
    }
}

.container-dos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDEEEF;
    color: #202C4A;
    padding: 200px 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.text-content-dos {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    flex: 1 1 300px;
}

.text-content-dos h1 {
    margin: 0 0 30px 0;
    font-size: 3.9em;
}

.text-content-dos p {
    margin: 30px 0;
    font-size: 1.8em;
    line-height: 1.6;
}


img {
    max-width: 38%;
    height: auto;
    object-fit: cover;
    margin-top: 20px;
    transform: translateX(-70px);
}

@media (max-width: 1200px) {
    .text-content-dos h1 {
        font-size: 3em;
    }

    .text-content-dos p {
        font-size: 1.8em;
    }

   

    img {
        max-width: 40%;
        transform: translateX(-30px);
    }
}

@media (max-width: 768px) {
    .container-dos {
        flex-direction: column;
        align-items: flex-start;
    }

    .text-content-dos {
        max-width: 100%;
        text-align: left;
    }

    img {
        max-width: 100%;
        transform: none;
        margin-top: 20px;
    }

    
}
.container-tres {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202C4A;
    padding: 300px 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

/* Desde Uiverse.io por joe-watson-sbf */ 
.flip-card {
    background-color: transparent;
    width: 300px; /* Aumentado */
    height: 400px; /* Aumentado */
    perspective: 1000px;
    font-family: sans-serif;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Alineado al centro */
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(172, 166, 163);
    border-radius: 1rem;
    padding: 10px; /* Agregado para espacio interno */
    box-sizing: border-box;
}

.flip-card-front {
    background: linear-gradient(120deg, rgb(241, 241, 241) 30%, rgb(179, 179, 179) 88%,
    rgb(168, 168, 168) 40%, rgb(134, 132, 131) 78%);
    color: rgb(44, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Asegura que la imagen no sobresalga */
  
}

.flip-card-front img {
    width: 100%; /* Asegura que la imagen ocupe el ancho del contenedor */
  
    max-width: 100%; /* Evita que la imagen se desborde horizontalmente */
    border-radius: 1rem; /* Borde redondeado para la imagen */
    margin-left: 50%; /* Ajusta el valor según el desplazamiento deseado */
}



.flip-card-back {
    background: linear-gradient(120deg, rgb(241, 241, 241) 30%, rgb(179, 179, 179) 88%,
       rgb(168, 168, 168) 40%, rgb(134, 132, 131) 78%);
    color: rgb(44, 43, 43);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flip-card-back img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 1rem; /* Ajustar el borde si es necesario */
}


.flip-card-front {
    background: linear-gradient(120deg, rgb(255, 253, 253) 30%, rgb(179, 179, 179) 88%,
    rgb(168, 168, 168) 40%, rgb(134, 132, 131) 78%);
    color: rgb(44, 43, 43);
}

.flip-card-back {
    background: linear-gradient(120deg, rgb(241, 241, 241) 30%, rgb(179, 179, 179) 88%,
       rgb(168, 168, 168) 40%, rgb(134, 132, 131) 78%);
    color: rgb(44, 43, 43);
    transform: rotateY(180deg);
}

.flip-card-back img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 1rem; /* Ajustar el borde si es necesario */
}

.container-cuatro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDEEEF;
    color: #202C4A;
    padding: 150px 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.text-content-cuatro {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    flex: 1 1 300px;
}

.text-content-cuatro h1 {
    margin: 0 0 30px 0;
    font-size: 3.9em;
}

.text-content-cuatro p {
    margin: 30px 0;
    font-size: 1.8em;
    line-height: 1.6;
}


img {
    max-width: 38%;
    height: auto;
    object-fit: cover;
    margin-top: 20px;
    transform: translateX(-70px);
}

@media (max-width: 1200px) {
    .text-content-dos h1 {
        font-size: 3em;
    }

    .text-content-dos p {
        font-size: 1.8em;
    }

   

    img {
        max-width: 40%;
        transform: translateX(-30px);
    }
}

@media (max-width: 768px) {
    .container-dos {
        flex-direction: column;
        align-items: flex-start;
    }

    .text-content-dos {
        max-width: 100%;
        text-align: left;
    }

    img {
        max-width: 100%;
        transform: none;
        margin-top: 20px;
    }

    
}
.container-cinco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202C4A;
    color: #ffffff;
    padding: 80px 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.text-content-cinco {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    flex: 1 1 300px;
}

.text-content-cinco h1 {
    margin: 0 0 30px 0;
    font-size: 3.9em;
}

.text-content-cinco p {
    margin: 30px 0;
    font-size: 1.8em;
    line-height: 1.6;
}
.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D6D6D6;
    padding: 20px;
    font-family: 'Candal', sans-serif;
}

.info-item {
    text-align: center;
}

.info-item i {
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
}

.info-item h3 {
    font-weight: bold;
    margin: 5px 0;
}

.info-item p {
    font-size: 18px;
}
