
 @font-face {
  font-family: 'Jomhuria';
  src: url('/Fuentes/jomhuria/Jomhuria-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #487BFF;
  color: white;

}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%; 
  max-width: 1000px; 
  background-color: #000000;
  padding: 18px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0; 
}


.logoweb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoweb img {
  width: 85%;
  max-width: 400px;
  margin-left: 50px;  
  margin-top: 20px;   
}


.inicio_sesion {
  width: calc(40% + 20px);
  padding: 2%;
  background-color: #202C4A;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: -20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -20px; 
  margin-bottom: -20px;  
}

.inicio_sesion h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;

}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  position: relative;
}

.formulario i {
  position: absolute;
  left: 20px; 
  font-size: 2.5rem; 
  color: rgb(252, 252, 252); 
  top: 70%; 
  transform: translateY(-50%); 
  z-index: 1; 
}

.input {
  width: 80%; 
  padding: 20px 30px 14px 10px; 
  border-radius: 30px;
  border:1px solid #ccc;
  margin-bottom: -1rem; 
  margin-left: 50px;
  font-size: 1rem;
  text-align: left;
  box-sizing: border-box;
  position: relative; 
}

.input1 {
  width: 80%; 
  padding: 20px 30px 14px 10px; 
  border-radius: 30px;
  border:1px solid #ccc;
  margin-bottom: 1rem; 
  margin-left: 50px;
  font-size: 1rem;
  text-align: left;
  box-sizing: border-box;
  position: relative; 
}


.recu-boton {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem; 
}

.recu-boton a {
  
  display: block;
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 1.2rem;
  text-decoration: none;

}

.buttons {
  padding: 8px;
  width: 50%;
  border: none;
  background-color: #1B9607;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  margin: 0.0rem auto 0; 
  font-size: 3rem;
  display: block; 
  font-family: 'Jomhuria', sans-serif; 
}


@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 10px;
  }

  .logoweb img {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    max-width: 300px;
  }

  .inicio_sesion {
    width: 100%;
    margin: 0;
    border-radius: 0 20px 20px 20px;
    padding: 20px 10px;
  }

  .input, .input1 {
    width: calc(100% - 60px);
    margin-left: 0;
    padding: 15px 15px 15px 40px;
  }

  .formulario i {
    left: 10px;
    font-size: 1.5rem;
  }

  .buttons {
    width: 80%;
    font-size: 2rem;
  }
}