/* Estilos base */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #487BFF;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px; /* Ajusta el margen inferior */
  padding-top: 20vh; /* Ajusta el espacio en la parte superior para centrar verticalmente */
}

.logo img {
  width: 70%;
}

.logo h1 {
  font-size: 650%;
  text-align: left;
  padding: 5%;
  margin-top: 10px; /* Ajusta el margen superior si es necesario */
}

.sesion {
  width: 46%;
  padding: 2%;
  background-color: rgb(0, 0, 0);
  border-radius: 70px;
  color: white;
  text-align: center;
  margin-left: auto; /* Alinea el elemento hacia la derecha */
}

.sesion h2 {
  font-size: 290%;
}

.formu {
  display: flex;
  align-items: center;
  margin-bottom: 8%;
  justify-content: center; /* Centra horizontalmente los inputs */
}

.formu i {
  margin-right: 10px;
  font-size: 200%;
}

.fff {
  width: 100%;
  padding: 5%;
  border-radius: 50px;
  border: 1px solid #ccc;
  text-align: center;
}

.recu-boton {
  text-align: center;
}

.recu-boton a {
  display: block;
  margin-bottom: 2%; /* Reduce el margen inferior para acercar los enlaces */
  color: white;
  padding: 1.4%;
  font-size: 130%;
  text-decoration: none;
}

.buttons {
  padding: 4% 8%;
  border: none;
  background-color: #1B9607;
  color: white;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 3%;
  font-size: 120%;
}

/* Consultas de medios para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    padding-top: 10vh;
    margin-bottom: 10px;
  }

  .logo h1 {
    font-size: 400%;
  }

  .sesion {
    width: 90%;
  }

  .fff {
    width: 100%;
  }

  .formu i {
    font-size: 150%;
  }
}
