@font-face {
  font-family: "Candal";
  src: url("/HtmlYCss/Fuentes/Candal/Candal-Regular.ttf");
}
body {
  margin: 0;
  font-family: "Candal", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #FFFFFF;
  color: white;
}
.input-group {
  position: relative; 
}

/* Estilo general del contenedor de carga */
#loaderContainer {
  display: none; /* Por defecto, el loader está oculto */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Asegúrate de que el loader esté encima del resto del contenido */
}

/* Estilo del botón */
button.btn {
  background-color: #4CAF50; /* Verde */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button.btn.green {
  background-color: #4CAF50; /* Botón verde */
}

button.btn:disabled {
  background-color: #a5d6a7; /* Color cuando el botón está deshabilitado */
  cursor: not-allowed;
}

/* Estilo del loader */
.loader {
  width: 80px;
  height: 50px;
  position: relative;
}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: #ffffff;
  animation: text_713 3.5s ease both infinite;
  font-size: .8rem;
  letter-spacing: 1px;
}

.load {
  background-color: #21027e;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
      letter-spacing: 1px;
      transform: translateX(0px);
  }

  40% {
      letter-spacing: 2px;
      transform: translateX(26px);
  }

  80% {
      letter-spacing: 1px;
      transform: translateX(32px);
  }

  90% {
      letter-spacing: 2px;
      transform: translateX(0px);
  }

  100% {
      letter-spacing: 1px;
      transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
      width: 16px;
      transform: translateX(0px);
  }

  40% {
      width: 100%;
      transform: translateX(0px);
  }

  80% {
      width: 16px;
      transform: translateX(64px);
  }

  90% {
      width: 100%;
      transform: translateX(0px);
  }

  100% {
      width: 16px;
      transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
      transform: translateX(0px);
      width: 16px;
  }

  40% {
      transform: translateX(0%);
      width: 80%;
  }

  80% {
      width: 100%;
      transform: translateX(0px);
  }

  90% {
      width: 80%;
      transform: translateX(15px);
  }

  100% {
      transform: translateX(0px);
      width: 16px;
  }
}

#togglePassword {
  position: absolute;
  right: 40px; 
  top: 50%; 
  transform: translateY(-50%); 
  color: black; 
}


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  background-color: #032766;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(225, 225, 225, 0.651);
  font-family: "Candal";
  margin-top: auto;
}

.footer {
  background-color: #032766;
  color: white;
  text-align: center;
  width: 100%;
  margin-top: auto;
  padding: 10px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.form-container, .image-container {
  flex: 1;
  width: 100%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  transition: transform 0.8s ease-in-out;
}

.form-container {
  padding: 5%;
  box-sizing: border-box;
  color: white;
  text-align: center;
}

.form-container h1 {
  font-size: 2.5rem;
  margin-bottom: 2%;
  margin: 6%;
  color: white;
}

.form-container p {
  font-size: 1.2rem;
  margin-bottom: 4%;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  width: 100%;
}

.input-group .icon {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #ccc;
}

.input-field {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 40px;
  box-sizing: border-box;
  margin: 2%;
}

.recover-link {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin: 4% 0;
}

.recover-link:hover {
  color: #fff;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 6%;
  gap: 20px;
}


.buttons .btn {
  margin: 10px 0;
  padding: 12px 40px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
}

.buttons .btn.red {
  background-color: #dc3545;
  color: white;
  font-family: 'Candal';
}

.buttons .btn.green {
  background-color: #28a745;
  color: white;
  font-family: 'Candal';
}

.image-container {
  background-color: black;
  text-align: center;
}

.image-container img {
  width: 80%;
  max-width: 400px;
  height: auto;
  margin: 65px;
}

@media screen and (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .form-container, .image-container {
      width: 100%;
  }

  .form-container {
      padding: 20px;
  }

  .form-container h1 {
      font-size: 2rem;
      margin: 10px 0;
      color: white;
  }

  .form-container p {
      font-size: 1rem;
      margin-bottom: 20px;
  }

  .input-field {
      padding: 10px;
  }

  .buttons .btn {
      padding: 10px 20px;
      font-size: 0.9rem;
  }

  .image-container img {
      width: 70%;
      position: relative;
      left: -10px;
      margin-bottom: 20px;
  }

  .footer {
      margin-top: 40px;
  }
}

a {
  text-decoration: none;
}

.tituloInicioSesion {
  color: white;
}
