/* ModuloInformacion.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3EBFFF;
    color: white;
    overflow-y: hidden;
}

.profile {
    position: absolute;
    top: 7.5%;
    right: 20px;
    z-index: 999;
    display: flex;
    align-items: center;
}

.profile__link,
.notification__link {
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.notification__link {
    margin-left: 0; /* Elimina el margen izquierdo para la campana */
    margin-right: 15px; /* Añade margen derecho a la campana */
}

.profile__link i,
.notification__link i {
    margin-right: 5px;
}

.notification__count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 14px;
    margin-left: 5px;
}

.notification__link {
    position: relative;
}

.notification__count {
    position: absolute;
    top: -10px;
    right: -10px;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 65vh;
    margin: 2.5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2em;
    padding: 0 10px;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.main-content {
    width: calc(100% - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.container__cards {
    display: flex;
}

.card {
    width: 55em;
    height: 35em;
    background-color: #202C4a;
    border-radius: 32px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(160deg, #000000, #000000b4, #263542, #263542, #b8dcdd75, #b8dcdd73);
    border-radius: 32px;
    z-index: -1;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.card:hover::before {
    opacity: 1;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.image {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.content {
    width: 65%;
    height: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h4 {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 60px; /* Ajuste del tamaño de fuente */
    text-align: center; /* Centrado horizontal */
    margin-top: 20px; /* Ajuste del margen superior */
}

h2 {
    color: #ffffff;
    margin-top: 10%;
}

h5 {
    color: #00c3ff;

    margin-top: 8px;
}

p {
    color: #ffffff;
    margin-top: 12px;
}

@media screen and (max-width: 1200px) {
    .card {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .main-content {
        padding: 10px;
    }
    .search-bar {
        max-width: 600px;
        margin-bottom: 20px;
        margin-top: 40px;
    }
    .card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
    .profile {
        top: 10px;
        right: 10px;
        z-index: 2;
    }
    .profile__link {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .search-bar input[type="text"] {
        padding: 12px;
        font-size: 14px;
    }
    .search-bar button {
        width: 50px;
        height: 50px;
    }
    .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .card h2 {
        font-size: 16px;
    }
    .profile {
        top: 10px;
        right: 10px;
        z-index: 2;
    }
    .profile__link {
        font-size: 18px;
    }
    
}
