.franjaSuperior{
    
    height: 20%;
    width: 100%;
    display: flex;
    background-color:#202C4A;
    color: #ffffff;
    font-size: 120%;
    font-weight: bold;
}

#imagenLogo{
    width: 5%;
    padding: 0%;

}

.menuOpciones{
    background-color: #3EBFFF;
    display: flex;
    justify-content: space-around;
    color:#202C4A;
    font-weight: bold;
    font-size: 120%;
    padding: 2%;
}

.contenedorSeccion{
    background-color: #3EBFFF;
    height: 100%;
}

#cerrar_sesion{
    color: #ffffff;
    text-decoration: none;
    margin-left: 10%;
    margin-right: 10%;
}