/* Estilos para el cuerpo y la cabecera */
:root {
    --primary-color: #1a3e68;
    --secondary-color: #28a745;
    --background-color: #f0f0f0;
    --white: #ffffff;
    --gray: #555;
    --border-radius: 25px;
    --shadow-color: rgba(116, 111, 111, 0.5);
}

body {
    margin: 0;
    font-family: "jomhuria";
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Evita el scroll de la página */
}

@font-face {
    font-family: "jomhuria";
    src: url("../Jomhuria-Regural.ttf");
}

.header {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-sizing: border-box;
}

.header .logo {
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .logo img.logo-img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.header .logout a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 155%;
}

.header .logout a:hover {
    color: var(--hover-color);
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: hidden; /* Evita el scroll en el contenedor principal */
}

.sidebar {
    width: 250px;
    background-color: var(--primary-color);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    justify-content: flex-start;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px; /* Ajusta este valor para mover el perfil y la línea más abajo */
}

.profile-pic {
    position: relative;
    width: 160px;
    height: 160px;
    background-color: transparent; /* Cambiado a transparente */
    border-radius: 50%;
    margin: 0 auto 10px;
    overflow: hidden;
    cursor: pointer; /* Añadido cursor pointer para indicar que se puede hacer clic */
    border: 3px solid #fff; /* Añadido un borde blanco para dar contraste */
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-pic i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #000000;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out; /* Transición suave para la opacidad */
    z-index: 1; /* Añadido z-index para estar por encima de la imagen */
    opacity: 0; /* Inicialmente oculto */
}

.profile-pic:hover i {
    opacity: 1;
}

.profile-pic input[type="file"] {
    display: none;
}

.profile span {
    display: block;
    font-size: 22px;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-top: 150px; /* Añade un margen superior para mover los botones hacia abajo */
}

nav ul li {
    margin: 40px 0; /* Aumenta el espacio entre los botones */
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
}

nav ul li a i {
    margin-right: 8px;
}

nav ul li a.active {
    font-weight: bold;
}

.main-content {
    flex-grow: 1;
    background-color: #ffffff; /* Cambiado a fondo blanco */
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.central-container {
    text-align: center;
    background-color: #487BFF; /* Fondo azul */
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px var(--shadow-color);
    width: 100%;
}

.central-image {
    width: 100%;
    max-width: 500px; /* Tamaño máximo de la imagen */
    height: auto;
    border-radius: var(--border-radius);
}

.central-title {
    color: white;
    font-size: 2rem;
    margin-top: 20px;
}

@media (max-width: 1200px) {
    .header .logo {
        font-size: 30px;
    }

    .header .logout a {
        font-size: 140%;
    }
}

@media (max-width: 992px) {
    .header {
        padding: 20px;
    }

    .header .logo {
        font-size: 25px;
    }

    .header .logout a {
        font-size: 130%;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        padding: 10px 0;
    }

    .main-content {
        padding: 20px;
    }
    
    .sidebar nav ul {
        margin-top: 50px;
    }

    .sidebar nav ul li {
        margin: 20px 0;
    }
}

@media (max-width: 576px) {
    .header .logo {
        font-size: 20px;
    }

    .header .logo img.logo-img {
        width: 40px;
        height: 40px;
    }

    .header .logout a {
        font-size: 120%;
    }

    .sidebar nav ul {
        margin-top: 30px;
    }

    .sidebar nav ul li {
        margin: 15px 0;
    }
}