body {
    margin: 0;
    font-family: 'Candal', Arial, sans-serif;
    background-color: #3ebfff;
}

header {
    background-color: #202C4A;
    color: white;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; 
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.logout-link {
    text-decoration: none;
    color: white;
    margin-left: auto; 
    font-size: 16px; 
}

.menu-icon {
    font-size: 30px;
    margin-right: 25px;
}

h1 {
    margin: 0;
    font-size: 13px; 
    margin-left: auto; 
}

header img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-height: 40px;
}

.sidebar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative; }

.sidebar::after {
    content: ""; 
    position: absolute;
    bottom: 0; 
    left: 5; 
    width: 94%; 
    height: 1px; 
    background-color: #202C4A; 
}

.sidebar-item {
    display: flex;
    align-items: center;
    margin-right: 20px; 
    font-size: 16px;
}

.sidebar-item i {
    font-size: 20px;
    margin-right: 10px; 
}


.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: white; 
    padding: 20px;
    font-size: 14px; 
    border-radius: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 480px; 
    margin: 20px auto; 
}

.profile-photo {
    position: relative; 
    margin-bottom: 20px; 
}

.photo-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    background-color: #777777; 
    overflow: hidden; 
    cursor: pointer; 
    position: relative; 
}

.photo-label input[type="file"] {
    opacity: 0; 
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    cursor: pointer; 
}

.camera-icon {
    font-size: 24px;
    color: #000000;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    transition: opacity 0.3s; 
}

.photo-label:hover .camera-icon {
    opacity: 1; 
}

.profile-details {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    text-align: left; 
}

.profile-details h2 {
 
    margin-top: 0;
    margin-bottom: 1px; 
}

.profile-details p {
    margin: 1px 0; 
}
