@font-face {
    font-family: "Candal";
    src: url("/Fuentes/Candal/Candal-Regular.ttf");
}
body {
    margin: 0;
    font-family: 'Candal', Arial, sans-serif;
    background-color: #FFFFFF;
   display: grid;
   min-height: 100vh;
}
.header {
    width: 100%;
    background-color: #202C4A;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.header .menu-icon {
    font-size: 30px;
    margin-right: 20px;
    color: white;
    cursor: pointer;
}

.header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}


.header .logout-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-right: 20px;
}
.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}
.logout-link {
    text-decoration: none;
    color: white;
    margin-left: auto; 
    font-size: 16px; 
}

.logout-linku {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: auto; 
    font-size: 16px; 
}
.menu-icon {
    font-size: 30px;
    margin-right: 25px;
}
h1 {
    margin: 0;
    font-size: 13px; 
    margin-left: auto; 
}

header img {
    width: 100%; /* Asegura que las imágenes ocupen el 100% del ancho de su contenedor */
    height: auto; /* Mantiene la proporción de aspecto original */
    max-width: 100px; /* Limita el tamaño máximo para que no se vean demasiado grandes */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionar */
}
.sidebar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}
.sidebar::after {
    content: ""; 
    position: absolute;
    bottom: 0; 
    left: 5px; 
    width: 94%; 
    height: 1px; 
    background-color: #202C4A; 
}
.sidebar-item {
    display: flex;
    align-items: center;
    margin-right: 20px; 
    font-size: 16px;
}
.sidebar-item i {
    font-size: 20px;
    margin-right: 10px; 
}
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #EDEDED; 
    padding: 15px;
    font-size: 14px; 
    border-radius: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 50%; 
    margin-top: 2%;
    padding-bottom: 4%;
    padding-top: 4%;
    margin-left: 25%;
}


.profile-photo {
    position: relative; 
    margin-bottom: 20px; 
}
.photo-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    background-color: #777777; 
    overflow: hidden; 
    cursor: pointer; 
    position: relative; 
}
.photo-label input[type="file"] {
    opacity: 0; 
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    cursor: pointer; 
}
.camera-icon {
    font-size: 24px;
    color: #000000;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    transition: opacity 0.3s; 
}
.photo-label:hover .camera-icon {
    opacity: 1; 
}
.profile-details {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    text-align: left; 
}
.profile-details h2 {
    margin-top: 0;
    margin-bottom: 1px; 
}
.profile-details p {
    margin: 1px 0; 
}

/* Modificar datos */
.profile-containers {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #EDEDED; 
    padding: 30px 90px;
    font-size: 14px; 
    border-radius: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 40%; 
    margin: 10px auto;
    margin-top: 4%;
    padding-bottom: 4%;
    padding-top: 4%;
}

.modifi {
    font-size: 20px;
    margin-bottom: 15px; 
    margin-top: -10px; 
}

.profile-details {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px; 
    text-align: left; 
}

.profile-details input, .profile-details select {
    width: 105%;
    padding: 7px;
    border: 1px solid #c0c0c0;
    border-radius: 12px;
    background-color: #979292;
    font-family: 'Candal', Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box; 
}

.profile-containers button {
    width: 147px; 
    padding: 9px;
    font-size: 16px;
    color: white;
    background-color: #202C4A;
    border: none;
    border-radius: 20px;
    font-family: 'Candal', Arial, sans-serif;
    margin: 0 auto; 
    margin-top: 3%;
}

/* Cambiar contraseña */
.profile-containertres {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDEDED;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin: 4% auto; /* Centramos el contenedor horizontalmente */
}

.modifi-contraseña h2 {
    margin: 0;
    font-size: 30px;
    color: #000000;
    text-align: center;
}

.profile-containertres p {
    margin-top: 10px;
    font-size: 12px;
    color: #000000;
    text-align: center;
}

.profile-containertres form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-containertres label {
    font-size: 14px;
    color: #000000;
    text-align: center;
}

.profile-containertres input {
    width: 100%; /* Ajustamos el ancho para que sea responsive */
    max-width: 400px; /* Máximo ancho para el campo de entrada */
    padding: 7px;
    border: 1px solid #c0c0c0;
    border-radius: 12px;
    background-color: #979292;
    font-family: 'Candal', Arial, sans-serif;
    margin: 0 auto; /* Centramos los inputs */
}

.button-contrasena {
    width: 100%; /* Ajustamos el ancho para que sea responsive */
    max-width: 140px; /* Máximo ancho para el botón */
    padding: 9px;
    font-size: 16px;
    color: white;
    background-color: #202C4A;
    border: none;
    border-radius: 20px;
    font-family: 'Candal', Arial, sans-serif;
    margin: 0 auto;
    display: block; /* Aseguramos que el botón se centre correctamente */
}

/* Estilos Responsive */
@media (max-width: 1280px) {
    .profile-containertres {
        max-width: 80%;
    }
}

@media (max-width: 768px) {
    .profile-containertres {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .profile-containertres {
        max-width: 95%;
    }

    .profile-containertres input {
        padding: 5px;
    }

    .button-contrasena {
        padding: 8px;
    }
    @media (max-width: 375px) {
        .profile-containertres {
    width: 260px;
        }
    
        .profile-containertres input {
            padding: 5px;
            width: 200px;
        }
    
        .button-contrasena {
            padding: 8px;
        }
    }
}




/* DESACTIVAR CUENTA */
.profile-container-desactivar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDEDED;
    padding: 20px;
    font-size: 14px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 40%; 
    margin: 10px auto;
    margin-top: 4%;
    padding-bottom: 4%;
    padding-top: 4%;
}

.desactivar-cuenta h2 {
    margin: 1;
    font-size: 30px;
    color: #000000;
    text-align: center;
}

.profile-container-desactivar p {
    margin-top: 10px;
    font-size: 14px;
    color: #000000;
    text-align: center;
    line-height: 1.5; 
}

.profile-container-desactivar button {
    width: 200px; 
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 20px;
    font-family: 'Candal', Arial, sans-serif;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .profile-container-desactivar {
        max-width: 90%; /* Aumenta el ancho del contenedor en pantallas pequeñas */
        margin: 20px auto; /* Centra el contenedor y ajusta el margen */
    }

    .desactivar-cuenta h2 {
        font-size: 24px; /* Reduce el tamaño del encabezado en pantallas más pequeñas */
    }

    .profile-container-desactivar p {
        font-size: 12px; /* Reduce el tamaño del texto en pantallas más pequeñas */
    }

    .profile-container-desactivar button {
        width: 100%; /* Botón se ajusta al ancho del contenedor */
        max-width: 300px; /* Establece un ancho máximo para el botón */
        font-size: 14px; /* Reduce el tamaño de la fuente del botón */
    }
}

@media (max-width: 480px) {
    .profile-container-desactivar {
        padding: 15px; /* Ajusta el padding para pantallas muy pequeñas */
        margin: 20px auto; /* Asegura que el contenedor esté centrado */
    }

    .desactivar-cuenta h2 {
        font-size: 20px; /* Reduce aún más el tamaño del encabezado */
    }

    .profile-container-desactivar p {
        font-size: 11px; /* Reduce aún más el tamaño del texto */
    }

    .profile-container-desactivar button {
        font-size: 12px; /* Reduce aún más el tamaño de la fuente del botón */
    }
}

/* Asegura que el footer esté al fondo en pantallas móviles */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto; /* Empuja el footer al fondo */
}

/*  MENU HAMBURGUESA*/

/* Estilos de la barra lateral */
.sidebarj {
    width: 250px;
    background-color: #202C4A;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 120px 0;
    transition: transform 0.3s;
    z-index: 1000;
    transform: translateX(-100%);
}

.profile {
    text-align: center;
    padding: 50px;
}

.profile-pic {
  
    width: 130px;
    height: 130px;
    margin: 0 auto 10px;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
    border: 3px solid #fff;;
   right: 14%;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.profile-pic input[type="file"] {
    display: none;
}

.profile span {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 15px 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
}

nav ul li a i {
    margin-right: 10px;
}

/* Clase 'visible' que se aplica para mostrar la barra lateral */
.sidebarj.visible {
    transform: translateX(0);
}

/* Estilos del menú hamburguesa */
.menu-toggle {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 40px;
    color: #ffffff;
    z-index: 1001;
}

/* Ajustes específicos para dispositivos móviles */
@media (max-width: 768px) {
    .sidebarj {
        width: 200px;
    }

    .sidebars-item {
        font-size: 16px;
    }
}

.footer {
    background-color: #202C4A;
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    margin-top: auto;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
#Cerrarsesion{
    text-decoration: none;
    color: #FFFFFF;
}