/* Estilos para el cuerpo y la cabecera */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    width: 100%; 
    background-color: #1a3e68;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px; 
    box-sizing: border-box;
}

.header .logo {
    font-size: 24px;
    display: flex;
    flex-direction: column; /* Cambiamos a columna para apilar imagen y texto verticalmente */
    align-items: center; /* Centramos los elementos horizontalmente */
}

.header .logo img.logo-img {
    width: 50px; /* Ajusta el tamaño de la imagen según necesites */
    height: 50px; /* Ajusta el tamaño de la imagen según necesites */
    margin-bottom: 5px; /* Espacio entre la imagen y el texto */
}

.header .logout a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px;
    background-color: #1a3e68;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    height: 100%;
    justify-content: center;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
    margin-top: -300px; /* Ajusta este valor según necesites */
    border-bottom: 1px solid white; /* Añade una línea de separación */
    padding-bottom: 20px; /* Añade un poco de espacio debajo del perfil */
}

.profile-pic {
    width: 160px; /* Aumenta el tamaño del círculo */
    height: 160px; /* Aumenta el tamaño del círculo */
    background-color: gray;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.profile span {
    display: block;
    font-size: 22px; /* Aumenta el tamaño del nombre */
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex; /* Permite alinear el icono y el texto horizontalmente */
    align-items: center; /* Centra verticalmente el icono y el texto */
    justify-content: center; /* Centra horizontalmente el icono y el texto */
}

nav ul li a i {
    margin-right: 8px; /* Agrega un poco de espacio entre el icono y el texto */
}

nav ul li a.active {
    font-weight: bold;
}

.main-content {
    flex-grow: 1;
    background-color: #f0f0f0;
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.form-container {
    background-color: white;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 0 0 10px #746f6f;
    width: 100%;
    max-width: 400px;
    height: 75%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container h2 {
    margin-top: 0;
    text-align: center;
}

.password-instructions {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin: 10px 0 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container form label {
    margin: 10px 0 5px;
}

/* Estilo para los campos de entrada */
.form-container form input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    width: calc(100% - 22px);
    background-color: black;
    color: white;
}

.form-container form input[type="password"]:focus {
    border-color: #1a3e68;
}

/* Estilo para el botón Enviar */
.form-container form button {
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 150px;
    margin: 10px auto;
}

.form-container form button:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        padding: 10px 0;
    }

    .main-content {
        padding: 20px;
    }
}
