* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffffa6;
    font-family: "jomhuria";
    overflow: hidden;
}

.profile {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
}

.profile__link {
    font-size: 35px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 580px;
}

.search-bar input[type="text"] {
    width: calc(100% - 2%);
    padding: 18px;
    font-size: 16px;
    border: 2px solid rgb(3, 3, 3);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    outline: none;
}

.search-bar button {
    width: 60px;
    height: 60px;
    background-color: rgb(3, 3, 3);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.search-bar button i {
    font-size: 24px;
    color: white;
}

#mensajeSeleccionar {
    font-family: "jomhuria";
}

.main-content {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container__cards {
    width: 150%;
    display: flex;
    justify-content: center;
    gap: 2px;
   
}

.card {
    flex: 1 1 calc(25% - 40px);
    max-width: calc(25% - 40px);
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(3, 3, 3);
    border-radius: 20px;
}

.cover__card {
    width: 100%;
    height: 160px;
    border-radius: 20px;
    overflow: hidden;
}

.cover__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: white;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .card {
        flex: 1 1 calc(33.33% - 40px);
        max-width: calc(33.33% - 40px);
    }
}

@media screen and (max-width: 768px) {
    .main-content {
        padding: 10px;
    }

    .search-bar {
        max-width: 600px;
        margin-bottom: 20px;
    }

    .card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .card {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .search-bar input[type="text"] {
        padding: 12px;
        font-size: 14px;
    }

    .search-bar button {
        width: 50px;
        height: 50px;
    }

    .card h2 {
        font-size: 16px;
    }

    .profile {
        top: 10px;
        right: 10px;
    }
}

/* Estilos para el ícono de retroceso */
.back-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
}

.back-icon__link {
    font-size: 80px; /* Ajustar el tamaño del ícono */
    color: black; /* Color del ícono */
    text-decoration: none;
}
