
@font-face {
    font-family: "Candal";
    src: url("/HtmlYCss/Fuentes/Candal/Candal-Regular.ttf");
  }
body {
    background-color: #FFFFFF;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Candal";
}
.content {
    flex: 1; 
}
.container {
    display: flex;
    flex: 1;
    background-color: #202C4A;
    padding: 50px; 
    border-radius: 30px;
    margin: 20px auto; 
    max-width: 900px; 
    max-height: 500px; 
    box-sizing: border-box;
    margin-top: 10%;  
}
.form-container {
    flex: 1;
    color: white;
    text-align: center;
    padding: 3%; 
}
.form-container h1 {
    font-size: 2.3rem; 
    margin-bottom: 5%;
}
.form-container p {
    font-size: 1.5rem; 
    margin-bottom: 5%;
}
.input-email {
    width: 100%;
    padding: 12px; 
    font-size: 1rem; 
    border: 1px solid #ddd;
    border-radius: 30px;
    box-sizing: border-box;
    margin-bottom: 17px; 
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}
.buttons .btn {
    margin: 0 10px;
    padding: 12px 35px; 
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
}
.buttons .btn.red {
    background-color: #dc3545;
    color: white;
    font-family: 'Candal';
}
.buttons .btn.green {
    background-color: #28a745;
    color: white;
    font-family: 'Candal';
}
.image-container {
    flex: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    border-radius: 30px;
}
.image-container .add-icon {
    font-size: 8rem; 
    color: white;
    cursor: pointer;
}
.image-preview {
    display: none;
    max-width: 100%;
    max-height: 250px; 
    margin-top: 20px;
    border-radius: 15px;
}
@media screen and (max-width: 768px) {
    .container {
        padding: 15px;
       
    }
    .form-container {
        padding: 10px;
    }
    .input-email {
        padding: 8px;
    }
    .buttons .btn {
        padding: 10px 25px;
        font-size: 0.9rem;
    }
    .image-container {
        padding: 15px;
    }
}
@media screen and (max-width: 480px) {
    .container {
        padding: 10px;
        margin-top: 30%;
    }
    .form-container h1 {
        font-size: 1.8rem; 
    }
    .form-container p {
        font-size: 1rem; 
    }
    .buttons .btn {
        padding: 8px 20px;
        font-size: 0.8rem;
    }
    .image-container .add-icon {
        font-size: 4rem; 
    }
}

.footer {
    background-color: #202C4A;
    color: white;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

placeholder{
    font-family: 'Candal';
}