@font-face {
    font-family: "jomhuria";
    src: url("../Jomhuria-Regural.ttf");
}

body{
    font-family: "jomhuria";
}


body>div.container-fluid>div.row>div.col-6.calendar>div>input#camposReserva {
    
    background-color: gray;
    margin-top: 30px;
    border-radius: 50px; 
    height: 40px;
    
    
}



#camposReserva::placeholder {

    color:white;
    font-family: "jomhuria";
    font-size: 20px;
    font-weight:bold;
    



}


body>div.container-fluid>div.row>div.col-6>h4{
    margin-top:80px;
    font-size: 40px;
    font-family: "jomhuria";
    padding-top: 100px;
    margin-left: 100px ;
    margin-right: 100px ;
   

}


button#botonReservar{
    background-color: green;
    color: white;
    font-family: "jomhuria";
    border-radius: 50px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    margin-top: 30px;
    font-weight:bold;
}


body>div.container-fluid>div.row>div.col-6.calendar{
    background-color:rgb(51, 49, 49); 
    float:right; 
    margin-top:50px;
    width: 6000px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:60px;
    border-radius: 80px;

}


