/* Reset de estilos y fuente personalizada */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Candal";
    src: url("/HtmlYCss/Fuentes/Candal/Candal-Regular.ttf");
  }

/* Estilos para el cuerpo y la cabecera */
body {
    margin: 0;
    font-family: 'Candal';
    font-weight: bold;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    transition: margin-left 0.3s;

}
.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 0;
    transition: margin-left 0.3s ease-in-out;
}
.header {
    width: 100%;
    background-color: #5491C7;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.header .logo {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .logo img.logo-img {
    width: 100%;
    height: 80px;
    margin-top: 1px;
    margin-bottom: 5px;
    padding-left: 20px;
}
.header .logout a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 120%;
    padding-right: 20px;
    font-family: 'Candal';
}
/* Contenedor principal */
.container {
    display: flex;
    flex: 1;
    flex-direction: row;
}
/* Navegación */
nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-top: 120px;
    color: white;
}
nav ul li {
    margin: 10px 0;
}
nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
    margin-top: 20%;
}
/* Contenedor padre */
.cotenedorPadre {
    display: flex;
    margin-top: 2%;
    padding-left: 15%;
    width: 100%;
}
/* Título de reservas */
.tituloReservas {
    color: #5491C7;
    font-size: 150%;
}
.contenedorTitulo {
    width: 100%;
    margin-top: 1%;
}
.contenedorContenido {
    width: 100%;
}
/* Formulario */
.form {
    width: 20%;
    background-color: #5491C7;
    color: white;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-left: 15%; */
    position: sticky;
}
.form label {
    width: 83%;
    margin-top: 10px;
    font-size: 100%;
}
.form input {
    width: calc(100% - 80px);
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 30px;
    text-align: center;
}
.form button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.875rem;
    font-family: 'Candal';
    background-color: #28a745;
    color: white;
    margin-bottom: 2%;
}
/* Select */
#nombre_espacio {
    width: 82%;
    padding: 15px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
}
/* Menú hamburguesa */
.menu-toggle {
    position: relative;
    top: 8px;
    left: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 40px;
    color: #ffffff;
    z-index: 1001;
}
/* Menú desplegable */
.menu-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 160px;
    text-align: left;
}
.menu-container.active {
    display: block;
}
.menu-container a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}
.menu-container a:hover {
    background-color: #f0f0f0;
}
/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #5491C7;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    transition: transform 0.3s;
    z-index: 1000;
}
.sidebar.hidden {
    transform: translateX(-100%);
}
.sidebar.visible {
    transform: translateX(0);
}
/* Estilos adicionales */
.menu-open .sidebar {
    transform: translateX(0);
}
.menu-open .main-content {
    margin-left: 250px;
}
/* Footer */
.footer {
    background-color: #5491C7;
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    flex-shrink: 0;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
/* Media Queries */
/* Dispositivos pequeños (pantallas de hasta 768px) */
@media (max-width: 768px) {
    .header .logo img.logo-img {
        width: 70%;
        height: auto;
    }
    .form {
        width: 100%;
        margin-left: 0;
        margin-top: 10%;
    }
    .main-content {
        padding: 10px;
    }
    .sidebar {
        width: 200px;
    }
    .menu-open .main-content {
        margin-left: 200px;
    }
    .tituloReservas {
        font-size: 200%;
    }
    .tabla {
        margin-left: 0;
    }
}
/* Dispositivos muy pequeños (pantallas de hasta 480px) */
@media (max-width: 480px) {
    
}
.table-container {
    padding: 30px;
    flex: 1;
    overflow-y: auto;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    background-color: #f4f5f7;
    box-sizing: border-box;
    /* margin-left: 100%; */
}
th {
    background-color: #D9D9D9;
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
td {
    padding: 3px;
    border-bottom: 1px solid #ddd;
}
.logout-link{
    text-decoration: none;
    color: white;
}

#nombre_completo, #username{
    background-color: white;
    color: black; /* Cambia el color del texto si es necesario */
}