@font-face {
    font-family: "jomhuria";
    src: url("../Jomhuria-Regural.ttf");
  }
  
  body {
    font-family: "jomhuria";
  
  }
  
  /*Para el título principal, el grande*/
  h1#tituloPrincipal {
    font-family: "jomhuria";
    color: black;
    margin: 10% 25%;
    font-size: 1200%;
  }
  
  /*imágen principal, la del título
  img#imagenPrincipal{
      width:"100%";
      height:"auto"; 
      filter: brightness(30%);
  }*/
  
  
  /*Para poner el titulo sobre la imagen*/
  
  .contenedorImagen {
    position: relative;
    /* Establece el contexto de posición para los elementos hijos */
  }
  
  .contenedorImagen img {
    display: block;
    /* Asegura que la imagen se muestre como un bloque */
    width: 100%;
    /* Para asegurar que la imagen ocupe todo el ancho del contenedor */
    height: auto;
    /* Para mantener la proporción de la imagen */
    filter: brightness(30%);
  }
  
  .contenedorImagen h1#tituloPrincipal {
    position: absolute;
    /* Lo posiciona absolutamente con respecto al contenedor */
    top: 20%;
    /* Lo sitúa en la mitad superior del contenedor */
    left: 30%;
    /* Lo sitúa en el centro horizontal del contenedor */
    transform: translate(-50%, -50%);
    /* Lo desplaza hacia arriba y hacia la izquierda la mitad de su propio tamaño */
    color: white;
    /* Color del texto */
    text-align: center;
    /* Alinea el texto al centro */
  }
  
  
  /*cuadros de los campos reservar*/
  div>input#camposReserva {
    background-color: rgb(255, 255, 255);
    margin-top: 5%;
    border-radius: 50px;
    height: 40px;
    width: 100%;
  }
  
  /*letra desde el placeholder de todos los campos para reservar*/
  #camposReserva::placeholder {
    color: white;
    font-family: "jomhuria";
    font-size: 20px;
    font-weight: bold;
    /*Para poner la letra en negrita*/
  }
  
  /*letra o mensaje del texto de la descripción del ambiente, al lado izquierdo*/
  div>h4 {
    margin-top: 20%;
    font-size: 220%;
    font-family: "jomhuria";
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 35%;
    text-align: left;
    line-height: 200%;
  }
  
  
  button#botonReservar {
    background-color: green;
    color: white;
    font-family: "jomhuria";
    border-radius: 50px;
    width: auto;
    height: auto;
    font-size: 250%;
    margin-top: 10%;
    margin-bottom: 0%;
    font-weight: bold;
  
  }
  
  
  div.calendario {
    background-color: rgb(87, 82, 82);
    float: right;
    margin-top: 5%;
    width: 200%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 6%;
    border-radius: 6%;
    padding-bottom: 4%;
  }
  
  
  body {
    text-align: center;
  }
  
  .calendar {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .month-selector {
    margin-bottom: 10px;
  }
  
  .calendar-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .calendar-table th,
  .calendar-table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .calendar-table th {
    background-color: #f2f2f2;
  }
  
  
  /*Color cuando se selecciona un dia*/
  .selected {
    background-color: #ffff00;
  }
  
  div.contenedorTabla {
    justify-content: center;
  
  }
  
  table#tablaReservas {
    background-color: black;
    color: white;
    width: 100%;
  }
  
  
  tr#encabezado>td {
    font-family: "jomhuria";
    /*Fuente de la letra*/
    font-weight: bold;
    /*Letra en negrita*/
    width: 25%;
    font-size: 200%;
  
  }
  
  
  div.fondoNegroCalendario {
    background-color: black;
    width: 100%;
    height: auto;
    padding: 5% 5%;
  }
  
  p.tituloReservasTabla {
    font-family: "jomhuria";
    /*Fuente de la letra*/
    font-weight: bold;
    /*Letra en negrita*/
    font-size: 200%;
    text-align: center;
    margin-top: 2%;
    color: black;
  }